{% extends 'blog/base.html' %} 
{% block title %} | {{article.title}} {% endblock title %}
{% block background-header %} {{article.thumbnail.url}} {% endblock background-header %}
{% block title-header %} {{article.title}} {% endblock title-header %}
{% block title-header-description %}{% endblock title-header-description %}
{% block main %}
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <h2 class="post-title">{{article.title}}</h2>
        <h3 class="post-subtitle">{{article.description}}</h3>
        <p class="post-meta">
          Posted
          <a href="#">Start Bootstrap</a>
          {{article.publish}}
        </p>
      </div>
      <hr />
    </div>
  </div>
</div>
{% endblock %}
